<%= form_for([@project, @pledge]) do |f| %>
  <fieldset>
    <%= render "shared/errors", object: @pledge %>
    <p>
      <%= f.label :amount, "Pledge an amount ($)" %><br>
      <%= f.number_field :amount %>
    </p>
    <p>
      <%= f.label :comment, "Leave a comment" %><br>
      <%= f.text_area :comment, cols: 40, rows: 7 %>
    </p>
    <p>
      <%= f.submit :class => 'btn'%>
    </p>
  </fieldset>
<% end %>
