<%= form_for([@project, @pledge]) do |f| %>
  <fieldset>
    <%= render "shared/errors", object: @pledge %>
    <p>
      <%= f.label :amount %><br>
      <%= f.number_field :amount %>
    </p>
    <p>
      <%= f.label :comment %><br>
      <%= f.text_area :comment, cols: 40, rows: 7 %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>
