<h1>Pledger leaderboard</h1>

<%= link_to "Back a new project", custom_find_pledge_path, :class => 'btn' %>
<hr>
<table class="striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Profile</th>
      <th>Pledged</th>
      <th>Projects</th>
      <th>In bank</th>
      <th>User</th>
      <th>Member since:</th>
    </tr>
  </thead>
  <% @count = 1 %>
  <% @users.reverse_each do |el| %>
    <tr>
      <td><%= @count %></td>
      <td>
        <%= link_to(cl_image_tag(el.image, :width=>70, :height=>70, :crop => :thumb ), user_path(el)) %>
      </td>
      <td><%= number_to_currency(el.pledges.sum(:amount), precision: 0) %></td>
      <td><%= el.pledges.count %></td>
      <td><%= format_bank(el) %></td>
      <td><%= link_to el.name, user_path(el) %></td>
      <td><%= time_ago_in_words(el.created_at) %> ago</td>
    </tr>
    <% @count += 1 %>
  <% end %>
</table>
