<%= form_for(@user, :html => {:multipart => true}) do |f| %>
  <fieldset>
    <%= render "shared/errors", object: @user %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :email %><br>
      <%= f.email_field :email %>
    </p>
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %>
    </p>
    <p>
      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %>
    </p>
    <p>
      <%= f.label "Avatar image upload" %><br>
      <%= f.cl_image_upload :image %>
    </p>
    <p>
      <%= f.submit :class => 'btn'%>
    </p>
  </fieldset>
<% end %>
