<table class="striped">
  <thead>
    <tr>
      <th>Rank</th>
      <th>Project</th>
      <th>Description</th>
      <th>Target</th>
      <th>Raised</th>
      <th>Status</th>
      <th>Creator</th>
      <th>Category</th>
      <th>Pledge</th>
    <tr>
  </thead>
  <% @count = 1 %>
  <% object.reverse_each do |project| %>
    <tr>
      <td><%= @count %></td>
      <td>
        <%= link_to project.name, project_path(project) %><br>
        <%= link_to(cl_image_tag(project.image, :width=>70, :height=>70, :crop => :thumb, :effect => 'grayscale'), project_path(project)) %>
      </td>
      <td><%= format_description(project) %></td>
      <td><%= format_target(project) %></td>
      <td><%= format_pledged(project) %></td>
      <td>
        <%= format_status(project) %><br>
        <%= format_deadline(project) %>
      </td>
      <td><%= link_to project.user.name, user_path(project.user) %></td>
      <td>
        <% project.categories.each do |el| %>
          <%= link_to "#{el.name.titleize}", category_path(el) %>
        <% end %>
      </td>
      <td>
        <% if check_project(project)%>
          Your project
        <% elsif check_pledge(project) %>
          Already backed
        <% elsif project.expired? %>
          Pledging ended
        <% elsif project.pledges?  %>
          <%= link_to 'Back this', project_path(project)%>
        <% else %>
          <%= link_to 'Be the first', project_path(project) %>
        <% end %>
      </td>
    </tr>
    <% @count += 1 %>
  <% end %>
</table>
