<% unless check_project(@project) %>
  <h1><%= "#{@project.name} by #{@project.user.name}" %></h1>
<% else %>
  <h1>Your project: <%= @project.name %></h1>
<% end %>

<hr>
<h3>Project details:</h3>
<%= cl_image_tag(@project.image, :width => 200, :height => 200, :effect => "grayscale", :crop => :fill) %>
<table>
  <tr>
    <td>Name:</td>
    <td><%= @project.name %></td>
  </tr>
  <tr>
    <td>Creator:</td>
    <td><%= link_to @project.user.name, user_path(@project.user) %></td>
  </tr>
  <tr>
    <td>Target amount:</td>
    <td><%= format_target(@project) %></td>
  </tr>
  <tr>
    <td>Time remaining:</td>
    <td><%= format_deadline(@project) %></td>
  </tr>
  <tr>
    <td>Description:</td>
    <td><%= @project.description %></td>
  </tr>
  <tr>
    <td>Categories:</td>
    <td>
      <% @project.categories.each do |el| %>
        <%= link_to "#{el.name.titleize}", category_path(el) %><br>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Created:</td>
    <td><%= format_created(@project) %></td>
  </tr>
  <tr>
    <td>Last updated:</td>
    <td><%= format_updated(@project) %></td>
  </tr>
</table>

<% if check_project(@project) %>
  <div class="controls">
    <%= link_to 'Edit', edit_project_path(@project) %> |
    <%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: "Are you sure?"} %>
  </div>
<% end %>

<hr>

<h3>Pledge summary:</h3>

<% if check_project(@project) || @project.pledges? %>

  <table>
    <tr>
      <td>Status:</td>
      <td><%= format_shortfall(@project) %></td>
    </tr>
    <tr>
      <td>Goal:</td>
      <td><%= format_goal(@project) %></td>
    </tr>
    <tr>
      <td>Backers:</td>
      <td><%= "#{format_pledged(@project)} pledged by #{format_backers(@project)}:" %>
        <ul>
          <% @project.order_pledges.each do |pledge| %>
            <li><%= "#{number_to_currency(pledge.amount, precision: 0)} from "%><%= link_to pledge.user.name, user_path(pledge.user) %></li>
          <% end %>
        </ul>
    </td>
    </tr>
  </table>
<% end %>

<% unless check_project(@project) %>
  <% if check_pledge(@project) %>
    <%= link_to "You have pledged to this Project", pledge_path(@current_user.pledges.find_by(:project_id => @project.id)) %>
  <% elsif @project.expired? %>
    <%= format_project_expired(@project) %>
  <% elsif @project.pledges? %>
    <button>
      <%= link_to "Back this project", new_project_pledge_path(@project) %>
    </button>
  <% else %>
    <button>
      <%= link_to "Be the first to back this project", new_project_pledge_path(@project) %>
    </button>
  <% end %>
<% end %>
