<h1>Project Categories</h1>

<table class="categories">
  <tr>
    <th>Category</th>
    <th>Live</th>
    <th>Funded</th>
    <th>Expired</th>
    <th>Staff Pick</th>
  </tr>
  <% @categories.each do |el| %>
    <tr>
      <td><%= link_to "#{el.name.titleize}", category_path(el) %></td>
      <td><%= el.live_projects.count %></td>
      <td><%= el.funded_projects.count %></td>
      <td><%= el.expired_projects.count %></td>
      <td>
        <% if el.live_projects.present? %>
          <%= link_to el.live_projects.sample.name, project_path(el.live_projects.sample) %>
        <% else %>
          <%= link_to "Add a new project", new_project_path %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<button>
  <%= link_to "All projects", projects_path %>
</button>
