<!DOCTYPE html>
<html>
<head>
  <title>Kickstarter</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= cloudinary_js_config %>
</head>
<body>
  <nav>
    <div class="nav-wrapper purple darken-4">
      <a href="/" class="brand-logo center hide-on-med-and-down">Kickstarter</a>

      <ul id="nav-mobile" class="left">
        <li><%= link_to "Projects", projects_path %></li>
        <li><%= link_to "Pledges", pledges_path %></li>
      </ul>

      <ul id="nav-mobile" class="right">
        <% if @current_user %>
          <li><%= link_to "View account", user_path(@current_user) %></li>
          <li><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "New user", new_user_path %></li>
          <li><%= link_to "Login", login_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>

  <div class="container">

    <!-- APP SUMMARY -->
    <div class="card-panel teal lighten-2">
    Live feed: <%= format_app_summary %>
    </div>

    <!-- Session id -->
    <p class="right-align"><em><%= format_session_user %></em></p>

    <!-- FLASH MESSAGE -->
    <% if flash[:success] %>
      <p><%= flash[:success] %></p>
    <% end %>
    <% if flash[:error] %>
      <p><%= flash[:error] %></p>
    <% end %>


    <%= yield %>
  </div>
</body>
</html>
